label(for="radio") 여행지 상태  
.form-group
  input.radioInput(type="radio", name="radio", value="접수중", checked="checked")
  | 여행지 접수중    
  input.radioInput(type="radio", name="radio", value="마감임박")
  | 여행지 마감임박   
  input.radioInput(type="radio", name="radio", value="마감")
  | 여행지 마감 
.form-group
  label(for="title") 여행지
  input.form-control(type="text", name="title", placeholder="여행지", value=post.title)

.form-group 제목
  input.form-control(type="text", name="field", placeholder="제목", value=post.field)
  


.form-group
  
  label(for="post") 여행지 설명
  input.form-control(type="file", name="img")
  textarea.form-control(name="content", rows="10", placeholder="여행지 설명")= post.content

.form-group
  label(for="period") 여행 코스
  input.form-control(type="text",  name="period",placeholder="1일차", value=post.period)
  input.form-control(type="text", name="tel", placeholder="2일차", value=post.tel)
  input.form-control(type="text", name="sponser", placeholder="3일차", value=post.sponser)
.form-group
  label(for="applicant") 여행지 가격
  input.form-control(type="number", name="applicant", placeholder="여행지 가격", value=post.applicant)

.form-group
  label(for="meet") 만나는 장소
  hr
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12666.003881493406!2d126.43137978475859!3d37.47250282546333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b9a833a5efa59%3A0x8d4ba096cb5cbed4!2z7J247LKc6rWt7KCc6rO17ZWt!5e0!3m2!1sko!2skr!4v1575290485267!5m2!1sko!2skr', width='400', height='300', frameborder='0', style='border:0;', allowfullscreen='')


.form-group
  label(for="time") 만나는 시간
  input.form-control(type="text", name="manager",placeholder="만나는 시간", value=post.manager)



.form-group
  #sample
  script(type='text/javascript', src='http://js.nicedit.com/nicEdit-latest.js')
  script(type='text/javascript').
    //<![CDATA[
    bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
    //]]>
  

  





// 공모전 포스터 등록




.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="태그를 공백으로 구분하여 입력해주세요", value=post.tags ? post.tags.join(" ") : "")
