label(for="radio") 대륙
button.btn.btn-outline-primary(type="submit") 대륙 추가
button.btn.btn-outline-primary(type="submit") 대륙 수정
button.btn.btn-outline-primary(type="submit") 대륙 삭제
.form-group
  input.radioInput(type="radio", name="radio", value="아시아", checked="checked")
  | 아시아  
  input.radioInput(type="radio", name="radio", value="유럽")
  | 유럽     
  input.radioInput(type="radio", name="radio", value="오세아니아")
  | 오세아니아 

.form-group 제목
  input.form-control(type="text", name="field", placeholder="제목", value=post.field)
.form-group
  label(for="title") 여행지
  input.form-control(type="text", name="title", placeholder="여행지", value=post.title)


  


.form-group
  input.form-control(type="file", name="img")
  label(for="content") 여행지 설명
  
  textarea.form-control(name="content", rows="10", placeholder="여행지 설명")= post.content

.form-group
  label(for="course") 여행 코스 
  button.btn.btn-outline-primary(type="submit") 항목 추가
  button.btn.btn-outline-primary(type="submit") 항목 삭제
  input.form-control(type="text",  name="course1",placeholder="1일차", value=post.course1)
  input.form-control(type="text", name="course2", placeholder="2일차", value=post.course2)
  input.form-control(type="text", name="course3", placeholder="3일차", value=post.course3)
.form-group
  label(for="price") 여행지 가격
  input.form-control(type="number", name="price", placeholder="여행지 가격", value=post.price)






.form-group
  #sample
  script(type='text/javascript', src='http://js.nicedit.com/nicEdit-latest.js')
  script(type='text/javascript').
    //<![CDATA[
    bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
    //]]>





