extends ../layout

block content
  .container
    h1.main-title= post.field
    .row
      .col= "대륙 : "+post.radio
      .col 작성일: #{moment(post.createdAt).format('YYYY-MM-DD')} / 작성자 : #[a(href=`/users/${post.author.id}`)= post.author.name] 
      

    .container
        .row
          .col-2="여행지"
        .row
          .col-10=post.title
        
        
        .post.show
          if post.img
            img.img-fluid(src=post.img)
          

        .row
          .col-2="설명"
        .row
          #{post.content}
          

        .row
          .col-2="여행 코스"
        .row
          .col-10= "1일차 "
          .col-10=post.course1
          .row
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.3035881305013!2d107.98587245119492!3d15.997704188870775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141f6e330b36787%3A0xb63945f77e1096b4!2z67CU64KY7Z6Q!5e0!3m2!1sko!2skr!4v1575638584930!5m2!1sko!2skr' , width='400', height='300', frameborder='0', style='border:0;', allowfullscreen='')

          .col-10="2일차 "
          .col-10=post.course2
          .row
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.355853640265!2d107.99437885119502!3d15.994980588872518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141f7c21d46cfc5%3A0x6571ac07781169a0!2sGolden%20Bridge!5e0!3m2!1sko!2skr!4v1575639038665!5m2!1sko!2skr', width='400', height='300', frameborder='0', style='border:0;', allowfullscreen='')

          .col-10="3일차 "
          .col-10=post.course3
          .row
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.3080894538047!2d107.98622605119492!3d15.99746963887096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141f6fcd2ca1de9%3A0x8ab7af426e736a44!2sFantasy%20Park!5e0!3m2!1sko!2skr!4v1575639101226!5m2!1sko!2skr', width='400', height='300', frameborder='0', style='border:0;', allowfullscreen='')

          script.
            $(function() {
            $("#startdate").datepicker({
            dateFormat: 'yy.mm.dd'
            });
            });

        

        .row
          .col-2="가격"
        
        table.table
          tr
            td
              .col-10="1인당 상품 가격"
              span#price=post.price
            td
              .col-10="날짜"
              input#startdate(type='text', placeholder='날짜')
            td
              .col-10="인원"
              input#no(type='number')
            td
              .col-10="총 가격"
              span#result
          




          
          // 아래부터 자바스크립트
          script(type='text/javascript').
            $(function() {
              $('#no').keyup(function() {
                var numPeople = parseInt($("#no").val());
                var price = parseInt($("#price").text());
                $("#result").text(numPeople * price);
              });
            });
        
        
        button.btn.btn-outline-primary(type="submit") 위시리스트
        button.btn.btn-outline-primary(type="submit") 예약하기
        
        
        hr
        .row
          .col-sm
            .numbers.
              좋아요 #[span.number.num-likes= post.numLikes]개 / 
              
              조회수 #[span.number.num-reads= post.numReads]

            hr
            
            .buttons
              if currentUser
                button.btn.btn-primary.post-like-btn(data-id=post.id)  좋아요
                
            #fb-root
              script(async='', defer='', crossorigin='anonymous', src='https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v5.0')
            .fb-share-button(data-href='https://developers.facebook.com/docs/plugins/', data-layout='button_count', data-size='small')
              a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&src=sdkpreparse') &#xACF5;&#xC720;&#xD558;&#xAE30;

          
          
          .button
            if currentUser
              a.btn.btn-outline-secondary(href=`/posts/${post.id}/edit`) 수정
              | 
              a.btn.btn-outline-danger.delete-btn(href="#", data-url=`/posts/${post.id}?_method=delete`) 삭제

          script.
            $(function() {
              $('.delete-btn').click(function() {
                if (confirm('Are you sure to delete?')) {
                  location = $(this).data('url');
                }
                return false;
              });
            });

  script.
    $(function() {
      $('.delete-btn').click(function() {
        if (confirm('Are you sure to delete?')) {
          location = $(this).data('url');
        }
        return false;
      });
    });
  script(src='/javascripts/post_client.js')



  block content
  .container
    
    if post.numAnswers > 0
      hr
      h3 #{post.numAnswers}개의 후기
      .answers.show
        each answer in answers
          include _answer

    form(action=`/posts/${post.id}/answers`, method='POST')
      .form-group
        label(for='answer') 후기 작성하기
        textarea.form-control(name="content", rows="5")
        button.btn.btn-primary(type="submit") 후기 등록

  




      